{% extends 'layouts/base.html' %}

{% block title %}Contains{% endblock title %}

{% block content %}

<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Container</a></li>
            </ol>
          </nav>

           <!-- Search form -->
           <form class="navbar-search-light form-inline mr-sm-3" id="navbar-search-main" action="/containers.html">
            <div class="input-group input-group-alternative input-group-merge rounded">
              <input class="form-control rounded-right" placeholder="Search..." type="text" name="search" value="{{ request.GET.search }}">
              <div class="input-group-append">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" data-target="#navbar-search-main">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#addCustomerModal">
            <div class="d-flex align-items-center">
              <i class="ni ni-fat-add mr-2"></i>
              <span class="nav-link-text">Add new container</span>
            </div>
          </a>
        </div>
        
        
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
<div class="col">
<div class="card">
<!-- Card header -->
<div class="card-header border-0">
  <div class="d-flex align-items-center">
    <h3 class="mb-0 mr-2">List of containers </h3>
<div id="loading-spinner" class="d-none">
  <i class="fas fa-circle-notch fa-spin"></i>
  </div>
</div>

      
  {% if messages %}
    {% for message in messages %}

    {% if succ == 1 %} 
    <i class="ni ni-check-bold text-green"> </i>
    {% endif %} 

    {% if succ == 0 %} 
    <i class="ni ni-fat-remove text-red"> </i>
    {% endif %}

    <div class="d-flex align-items-center"> 
      

      <span class="nav-link-text">{{ message }}</span></div>
    {% endfor %}
  {% endif %}   
</div>
<!-- Light table -->
<div class="table-responsive">
<table class="table align-items-center table-flush">
  <thead class="thead-light">
    <tr>
      <th scope="col" class="sort" data-sort="id_manifest">Serial number</th> 
<th scope="col" class="sort" data-sort="id_size">Size</th>
<th scope="col" class="sort" data-sort="created_date">Created date</th>
<th scope="col" class="sort" data-sort="created_date">Status</th>
<th scope="col" class="sort" data-sort="created_date">Id Manifest</th>
<th scope="col" class="sort"></th>
</tr>
</thead>
<tbody class="list">
{% for container in containers %}
<tr>
<td>{{ container.id }}</td>
<td>{{ container.size }}</td>
<td>{{ container.created_date}}</td>
<td>{{ container.status}}</td>
<td>{{ container.manifaist}}</td>
<td class="text-center">
  <div class="dropdown">
    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-ellipsis-v"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
<a class="dropdown-item" href="/container_detail.html?container_id={{ container.id }}">See Details</a>
</div>
</div>
</td>
</tr>
{% empty %}
<tr>
  <td colspan="5" class="text-center">No container found.</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<!-- Card footer -->
<div class="card-footer py-4">
<nav aria-label="...">
<ul class="pagination justify-content-end mb-0">
{% if containers.has_previous %}
<li class="page-item">
  <a class="page-link" href="?page={{ containers.previous_page_number }}" tabindex="-1">
    <i class="fas fa-angle-left"></i>
    <span class="sr-only">Previous</span>
  </a>
</li>
{% else %}
<li class="page-item disabled">
  <a class="page-link" href="#" tabindex="-1">
    <i class="fas fa-angle-left"></i>
    <span class="sr-only">Previous</span>
  </a>
</li>
{% endif %}
{% for page in containers.paginator.page_range %}
{% if containers.number == page %}
<li class="page-item active">
  <a class="page-link" href="?page={{ page }}">{{ page }} <span class="sr-only">(current)</span></a>
</li>
{% else %}
<li class="page-item">
  <a class="page-link" href="?page={{ page }}">{{ page }}</a>
</li>
{% endif %}
{% endfor %}

{% if containers.has_next %}

<li class="page-item">
  <a class="page-link" href="?page={{ containers.next_page_number }}">
    <i class="fas fa-angle-right"></i>
    <span class="sr-only">Next</span>
  </a>
</li>
{% else %}
<li class="page-item disabled">
  <a class="page-link" href="#">
    <i class="fas fa-angle-right"></i>
    <span class="sr-only">Next</span>
  </a>
</li>
{% endif %}
</ul>
</nav>
</div>
</div>
</div>
</div>


{% include "includes/footer.html" %}
</div>
  <!-- Add containers Modal -->
  <div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCustomerModalLabel">Add New Container</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'add_container' %}" method="post" onsubmit="return validateForm()">
        <div class="modal-body">
          <!-- Add containers form goes here -->
              {% csrf_token %}
              <!-- ... previous code ... -->  
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">Serial number</label>
                      <input type="text" id="input-id" name="id" class="form-control" placeholder="Serial number..." required>
                    </div>
                  </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <label class="form-control-label" for="input-Phone">size</label>
                  <input type="number" id="input-size" name="size" class="form-control" value="20" placeholder="Container size..." required>
                </div>
              </div>

              <div class="col-lg-4">
                <div class="form-group">
                  <label class="form-control-label" for="input-Phone">Id Manifest</label>
                  <input type="number" id="input-manifait" name="manifaist" class="form-control" placeholder="Id Manifest..." required>
                </div>
              </div>

              </div>
              </div>
            <!-- Form fields for adding a new customer -->
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
    </form>
    </div>
    </div>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
  // Include the following JavaScript code if you want to handle form submission or other actions in the modal
  $(document).ready(function() {
    // Add any necessary JavaScript code here
  });
  $(document).ready(function() {
      // Show loading spinner when search form is submitted
      $("#navbar-search-main").submit(function() {
        $("#loading-spinner").removeClass("d-none");
      });
    });
</script>
{% endblock javascripts %}