{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}


 <!-- -------------------------- -->
 <div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCustomerModalLabel">Add new transactions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      

      <form action="{% url 'change_balance' %}" method="post" onsubmit="return validateForm()">
      <div class="modal-body">
        <!-- Add containers form goes here -->
            {% csrf_token %}
            <!-- ... previous code ... -->  
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-Option">Option</label>
                    <select name="option" id="selectInput" class="form-control">
                      <option value="credit">Credit</option>
                      <option value="debit">Debit</option>
                    </select>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-Phone">Amount</label>
                    <input type="number" id="textInput" step="any" name="amount" class="form-control" placeholder="Amount..." required>
                  </div>
                </div>

                <input type="hidden" name="customer_id" value="{{ customer.id }}">

            </div>
            </div>
          <!-- Form fields for adding a new customer -->
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" onclick="return confirm('Are you sure you want to modify the balance?')">Confirme</button>
        </div>
      </div>
  </form>
  </div>
  </div>

  

<!-- -------------------------- -->



<div class="header pb-4 d-flex align-items-center" 
     style="min-height: 300px; background-image: url(/static/assets/img/theme/containers.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-5"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-18 col-md-12">
        <h1 class="display-3 text-white"> 
          Customer {{ customer.name }}, id: {{ customer.id }}
        </h1>
      </div>

      <div class="col-lg-10 col-md-4">
        <h1 class="display-3 text-white"> 
          Balance {{ customer.balance }} AED
        </h1>

      <a href="#" data-toggle="modal" data-target="#addCustomerModal">
          <span class="btn btn-sm btn-secondary">Modify balance</i></span>
      </a>

      </div>
      
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-body">
          {% if messages %}
             {% for message in messages %}
                <div class="alert alert-info alert-dismissible" role="alert">
                  {{ message }}
                </div>
             {% endfor %}
          {% endif %}
          <form action="{% url 'edit_customer' %}?customer_id={{ customer.id }}" method="post" onsubmit="return">
            {% csrf_token %}

            <!-- Add a hidden input field for the customer ID -->
            <input type="hidden" name="customer_id" value="{{ customer.id }}">

            <!-- ... previous code ... -->  
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Name</label>
                    <input type="text" id="input-username" name="name" class="form-control" placeholder="Full Name" value="{{ customer.name }}" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="inumber">Email address</label>
                    <input type="tel" id="input-number" name="phone_number" class="form-control" value="{{ customer.phone_number }}" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-brand">Brand</label>
                    <input type="text" id="input-brand" name="brand" class="form-control" value="{{ customer.brand }}" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Partner</label>
                    <input type="text" id="input-partner" name="partner" class="form-control" value="{{ customer.partner }}" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 text-right">
              <div class="row">
                <div class="col-md-10 ">
                  <button type="submit" class="btn btn-sm btn-primary" onclick="showLoadingSpinner(this)">Edit customer</button> 
              </div>
          </form>
                <div class=" mt-md-0 text-md-right">
                  <form action="{% url 'delete_customer' %}" method="post" onsubmit="return confirm('Are you sure you want to delete this customer?');" class="d-inline">
                    {% csrf_token %}
                    <input type="hidden" name="customer_id" value="{{ customer.id }}">
                    <button type="submit" class="btn btn-sm btn-danger" onclick="showLoadingSpinner(this)">Delete customer</button>
                    </div>
                    </div>
                    </div>
                  </form>
                    <br/> <br/> 
        
                        <div class="card">
                          <div class="card-body">
                            
                            
                              <div class="card-header p-4">
                              <div class="float-left"> <h3 class="mb-0">List of invoices </h3>
                                <a href="/invoices_detail.html?customer_id={{ customer.id }}">+</a>
                              </div>
                              
                              </div>
                              <div class="card-body">
                              <div class="row mb-4">
                              <div class="col-sm-6">
                              
                              </div>
                              <div class="col-sm-6 ">
                              </div>
                              </div>
                              <div class="table-responsive-sm">
                              <table class="table table-striped">
                              <thead>
                              <tr>
                              <th>رقم الفاتورة</th>
                              <th>معرف الحاوية</th>
                              <th class="right">عدد القطع</th>
                              <th class="center">المقاس</th>
                              <th class="right">الكلفة</th>
                              <th class="right">حالة الفاتورة</th>
                              <th class="right">Debit</th>
                              <th class="right">Credit</th>
                              <th class="right">Balance</th>
                              <th class="center"></th>

                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  {% for invoice_summary in invoice_summaries %}
                                      <td class="left strong">{{ invoice_summary.invoice_id }}</td>
                                      <td class="left strong">{{ invoice_summary.container_manifaist }}</td>
                                      <td class="right">{{ invoice_summary.total_quantity }}</td>
                                      <td class="center">{{ invoice_summary.total_cbm }}</td>
                                      <td class="right">{{ invoice_summary.total_price }}</td>
                                      {% if invoice_summary.status == 'Unpaid' %}
                                        <td class="right" style="color: rgb(255, 59, 59);">{{ invoice_summary.status }}</td>
                                        <td class="right">-----</td>
                                      <td class="right">-----</td>
                                      <td class="right">-----</td>
                                      {% else %}
                                      <td class="right" style="color: rgb(86, 172, 0);">{{ invoice_summary.status }}</td>
                                        {% if invoice_summary.transaction.transaction_type == 'debit' %}
                                          <td class="right">{{ invoice_summary.transaction.amount }}</td>
                                          <td class="right">-----</td>

                                        {% else %}

                                        <td class="right">-----</td>
                                        <td class="right">{{ invoice_summary.transaction.amount }}</td>

                                        {% endif %}

                                        <td class="right">{{ invoice_summary.transaction.rest }}</td>

                                      {% endif %}
                                      


                                      <td class="text-center">
                                        <div class="dropdown">
                                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="/invoice_view.html?invoice_id={{ invoice_summary.invoice_id }}" >View Invoice</a>
                                            <a class="dropdown-item" href="/invoices_detail.html?customer_id={{ customer.id }}&&invoice_id={{ invoice_summary.invoice_id }}">Edit Invoice</a>
                                          </div>
                                        </div>
                                      </td>
                              </tr>

                              {% empty %}
                              <tr>
                                <td colspan="9" class="text-center">No Invoice found.</td>
                              </tr>

                              {% endfor %}
                              
                              <tr>
                  
                                  <td class="left strong"></td>
                                  <td class="left strong"></td>
                                  <td class="left strong"></td>
                                  <td class="left strong"></td>
                                  <td class="left strong"></td>
                                  <td class="right strong"><strong>Total </strong> </td>
                                  <td class="right"><strong>{{ total_debit }} AED</strong></td>
                                  <td class="right"><strong>{{ total_credit }} AED</strong></td>

                                  {% if customer.balance > 0 %}
                                    <td class="right" style="color: rgb(86, 172, 0);" ><strong>{{ customer.balance }} AED</strong></td>
                                  {% else %}
                                    <td class="right" style="color: rgb(201, 107, 107);" ><strong>{{ customer.balance }} AED</strong></td>
                                  {% endif %}
                                  <td class="left strong"></td>
                              </tr>

                              </tbody>
                              </table>
                              </div>
                              <div class="row">
                              <div class="col-lg-4 col-sm-5">
                              </div>
                              <div class="col-lg-4 col-sm-5 ml-auto">
                              </div>
                              </div>
                              </div>
                              <div class="card-footer bg-white">
                              </div>

                                      </div>
                        </div>
                                      


                        <div class="card">
                          <div class="card-body">
                            
                            
                              <div class="card-header p-4">
                              <div class="float-left"> <h3 class="mb-0">List of account balance transactions</h3> 

                              </div>
                              
                              </div>
                              <div class="card-body">
                              <div class="table-responsive-sm">
                              <table class="table table-striped">
                              <thead>
                              <tr>
                              <th>Transaction Type</th>
                              <th>Date</th>
                              <th>Account initial state</th>
                              <th>Amount</th>
                              <th class="center"></th>

                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  {% for transaction in customer_transaction %}
                                      <td style="text-transform: capitalize;">{{ transaction.transaction_type }}</td>
                                      <td>{{ transaction.date }}</td>                                     
                                      {% if transaction.init < 0 %}
                                        <td style="color: rgb(255, 59, 59);">{{ transaction.init }}</td>
                                      {% else %}
                                        <td class="right" style="color: rgb(86, 172, 0);">{{ transaction.init }}</td>
                                      {% endif %}

                                      <td>{{ transaction.amount }}</td>

                                    
                                      <td class="text-center">
                                        <div class="dropdown">
                                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <form action="{% url 'generate_transaction_pdf' %}" method="post" >
                                              {% csrf_token %}
                                              <button class="dropdown-item" type="submit">View Transaction (print)</button>
                                              <input type="hidden" value="{{ transaction.id }}" name="transaction_id"/>
                                            </form>
                                            <form action="{% url 'cancel_transanction_balance' %}" method="post">
                                              {% csrf_token %}
                                              <button type="submit" class="dropdown-item" name="transaction_id" value="{{ transaction.id }}">Cancel Transaction</button>
                                            </form>
                                            </div>
                                        </div>
                                      </td>
                              </tr>

                              {% empty %}
                              <tr>
                                <td colspan="5" class="text-center">No Transaction found.</td>
                              </tr>

                              {% endfor %}

                              

                              </tbody>
                              </table>
                              </div>
                              <div class="row">
                              <div class="col-lg-4 col-sm-5">
                              </div>
                              <div class="col-lg-4 col-sm-5 ml-auto">
                              </div>
                              </div>
                              </div>
                              <div class="card-footer bg-white">
                              </div>

                                      </div>
                        </div>


                    </div>
                    </div>
</div>



                    
                    {% include "includes/footer.html" %}
                    
                    
                    {% endblock content %}
                    
                    <!-- Specific JS goes HERE --> 
                    {% block javascripts %}
                    <script>
                      function showLoadingSpinner(button) {
                          // Create the loading spinner HTML
                          var loadingSpinner = '<div id="loading-spinner"><i class="fas fa-circle-notch fa-spin"></i></div>';

                          // Store the original button text
                          var originalText = button.innerHTML;

                          // Replace the button text with the loading spinner
                          button.innerHTML = loadingSpinner;

                          // Disable the button to prevent multiple clicks
                          button.disabled = true;

                          // Submit the form after a delay to simulate processing
                          setTimeout(function() {
                            button.innerHTML = originalText;
                            button.disabled = false;
                            button.form.submit();
                          }, 2000); // Change the delay time (in milliseconds) as per your preference
                        }
                        
</script>
                    </script>
                    {% endblock javascripts %}
