{% extends 'layouts/base.html' %}

{% block title %}Customers{% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Customers</a></li>
              </ol>
            </nav>

             <!-- Search form -->
             <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main" action="/customers.html">
              <div class="input-group input-group-alternative input-group-merge rounded">
                <input class="form-control rounded-right" placeholder="Search..." type="text" name="search" value="{{ request.GET.search }}">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" data-target="#navbar-search-main">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

          

          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#addCustomerModal">
              <div class="d-flex align-items-center">
                <i class="ni ni-fat-add mr-2"></i>
                <span class="nav-link-text">Add new customers</span>
              </div>
            </a>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">List of customers 
            {% if messages %}
              {% for message in messages %}
              <div class="d-flex align-items-center"> <i class="ni ni-check-bold text-green"> </i> <span class="nav-link-text">{{ message }}</span></div>
              {% endfor %}
            {% endif %}   
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="name">Name</th>
                <th scope="col" class="sort" data-sort="phone">Phone</th>
                <th scope="col" class="sort" data-sort="brand">Brand</th>
                <th scope="col" class="sort" data-sort="brand">Partner</th>
                <th scope="col" class="sort"></th>
              </tr>
            </thead>
            <tbody class="list">
              {% for customer in customers %}
              <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.phone_number }}</td>
                <td>{{ customer.brand }}</td>
                <td>{{ customer.partner }}</td>
                <td class="text-center">
                  <div class="dropdown">
                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" href="/customer_detail.html?customer_id={{ customer.id }}">Modify</a>
                      <a class="dropdown-item" href="/invoices_detail.html?customer_id={{ customer.id }}">Add Invoices</a>
                    </div>
                  </div>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5" class="text-center">No customers found.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- Card footer -->
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              {% if customers.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ customers.previous_page_number }}" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              {% endif %}
              {% for page in customers.paginator.page_range %}
              {% if customers.number == page %}
              <li class="page-item active">
                <a class="page-link" href="?page={{ page }}">{{ page }} <span class="sr-only">(current)</span></a>
              </li>
              {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
              </li>
              {% endif %}
              {% endfor %}
              {% if customers.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ customers.next_page_number }}">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}
</div>


  <!-- Add Customer Modal -->
  <div class="modal fade" id="addCustomerModal" tabindex="-1" role="dialog" aria-labelledby="addCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCustomerModalLabel">Add New Customer</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'add_customer' %}" method="post" onsubmit="return validateForm()">
        <div class="modal-body">
          <!-- Add customer form goes here -->
              {% csrf_token %}
              <!-- ... previous code ... -->  
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-name">Name</label>
                      <input type="text" id="input-username" name="name" class="form-control" placeholder="Name of the customer..." required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-Phone">Phone</label>
                      <input type="tel" id="input-tel" name="phone_number" class="form-control" placeholder="phone number..." required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Brand</label>
                      <input type="text" id="input-brand" name="brand" class="form-control" placeholder="brand.." required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Partner</label>
                      <input type="text" id="input-partner" name="partner" class="form-control" value="Gemal" required>
                    </div>
                  </div>
                </div>
              </div>

            <!-- Form fields for adding a new customer -->
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script>
    // Include the following JavaScript code if you want to handle form submission or other actions in the modal
    $(document).ready(function() {
      // Add any necessary JavaScript code here
    });
  </script>
{% endblock javascripts %}
