{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header pb-4 d-flex align-items-center" 
     style="min-height: 300px; background-image: url(/static/assets/img/theme/containers.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-5"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-10 col-md-10">
        <h1 class="display-1 text-white"> 
          Customer {{ customer.name }}
        </h1>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--5">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-body">
          {% if messages %}
             {% for message in messages %}
                <div class="alert alert-success alert-dismissible d-flex align-items-center fade show" role="alert">
                  {{ message }}
                </div>
             {% endfor %}
          {% endif %}
          <form action="{% url 'edit_customer' %}?customer_id={{ customer.id }}" method="post" onsubmit="return">
            {% csrf_token %}

            <!-- Add a hidden input field for the customer ID -->
            <input type="hidden" name="customer_id" value="{{ customer.id }}">

            <!-- ... previous code ... -->  
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Name</label>
                    <input type="text" id="input-username" name="name" class="form-control" placeholder="Full Name" value="{{ customer.name }}" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="inumber">Email address</label>
                    <input type="tel" id="input-number" name="phone_number" class="form-control" value="{{ customer.phone_number }}" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-brand">Brand</label>
                    <input type="text" id="input-brand" name="brand" class="form-control" value="{{ customer.brand }}" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Partner</label>
                    <input type="text" id="input-partner" name="partner" class="form-control" value="{{ customer.partner }}" required>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 text-right">
              <div class="row">
                <div class="col-md-10 ">
                  <button type="submit" class="btn btn-sm btn-primary " onclick="showLoadingSpinner(this)">Edit customer</button> 
              </div>
          </form>
                <div class=" mt-md-0 text-md-right">
                  <form action="{% url 'delete_customer' %}" method="post" onsubmit="return confirm('Are you sure you want to delete this customer?');" class="d-inline">
                    {% csrf_token %}
                    <input type="hidden" name="customer_id" value="{{ customer.id }}">
                    <button type="submit" class="btn btn-sm btn-danger" onclick="showLoadingSpinner(this)">Delete customer</button>
                    </div>
                    </div>
                    </div>
                  </form>
                    <br/> <br/> 
        
                        <div class="card">
                          <div class="card-body">
                            
                            
                              <div class="card-header p-4">
                              <div class="float-left"> <h3 class="mb-0">List of invoices </h3>
                              ------- </div>
                              
                              </div>
                              <div class="card-body">
                              <div class="row mb-4">
                              <div class="col-sm-6">
                              
                              </div>
                              <div class="col-sm-6 ">
                              </div>
                              </div>
                              <div class="table-responsive-sm">
                              <table class="table table-striped">
                              <thead>
                              <tr>
                              <th>رقم الفاتورة</th>
                              <th class="right">عدد القطع</th>
                              <th class="center">المقاس</th>
                              <th class="right">الكلفة</th>
                              <th class="right">حالة الفاتورة</th>
                              <th class="center"></th>

                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                  {% for invoice_summary in invoice_summaries %}
                                      <td class="left strong">{{ invoice_summary.invoice_id }}</td>
                                      <td class="right">{{ invoice_summary.total_quantity }}</td>
                                      <td class="center">{{ invoice_summary.total_cbm }}</td>
                                      <td class="right">{{ invoice_summary.total_price }}</td>
                                      {% if invoice_summary.status == 'Unpaid' %}
                                        <td class="right" style="color: rgb(255, 59, 59);">{{ invoice_summary.status }}</td>
                                      {% else %}
                                      <td class="right" style="color: rgb(86, 172, 0);">{{ invoice_summary.status }}</td>
                                      {% endif %}


                                      <td class="text-center">
                                        <div class="dropdown">
                                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="/invoice_view.html?invoice_id={{ invoice_summary.invoice_id }}" >View Invoice</a>
                                          </div>
                                        </div>
                                      </td>
                              </tr>
                                  {% endfor %}
                              
                              <tr>
                  
                                  <td class="left strong"></td>
                                  <td class="left strong"></td>
                                  <td class="left strong"></td>
                                  <td class="right">Total Paid</td>
                                  <td class="right" style="color: rgb(86, 172, 0);" ><strong>{{ total_price_paid }} AED</strong></td>
                                  <td class="left strong"></td>
                              </tr>

                              <tr>
                  
                                <td class="left strong"></td>
                                <td class="left strong"></td>
                                <td class="left strong"></td>
                                <td class="right">Total Unpaid</td>
                                <td class="right" style="color: rgb(201, 107, 107);"><strong>{{ total_price_unpaid }} AED</strong></td>
                                <td class="left strong"></td>
                            </tr>
                              </tbody>
                              </table>
                              </div>
                              <div class="row">
                              <div class="col-lg-4 col-sm-5">
                              </div>
                              <div class="col-lg-4 col-sm-5 ml-auto">
                              </div>
                              </div>
                              </div>
                              <div class="card-footer bg-white">
                              </div>

                                      </div>
                                      </div>
                                      



                    </div>
                    </div>
</div>



                    
                    {% include "includes/footer.html" %}
                    
                    
                    {% endblock content %}
                    
                    <!-- Specific JS goes HERE --> 
                    {% block javascripts %}
                    <script>
                      function showLoadingSpinner(button) {
                          // Create the loading spinner HTML
                          var loadingSpinner = '<div id="loading-spinner"><i class="fas fa-circle-notch fa-spin"></i></div>';

                          // Store the original button text
                          var originalText = button.innerHTML;

                          // Replace the button text with the loading spinner
                          button.innerHTML = loadingSpinner;

                          // Disable the button to prevent multiple clicks
                          button.disabled = true;

                          // Submit the form after a delay to simulate processing
                          setTimeout(function() {
                            button.innerHTML = originalText;
                            button.disabled = false;
                            button.form.submit();
                          }, 2000); // Change the delay time (in milliseconds) as per your preference
                        }
                    </script>
                    {% endblock javascripts %}
