<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>invoice card</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="license" href="https://www.opensource.org/licenses/mit-license/" />

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-argon">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
<!-- Icons -->
<link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
<link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
<!-- Page plugins -->
<!-- Argon CSS -->
<link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">


    <style type="text/css">
      body {
        margin-top: 20px;
        background-color: #eee;
      }

      .card {
        box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
      }
      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, 0.125);
        border-radius: 1rem;
      }
    </style>
  </head>
  <body>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
      integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
      crossorigin="anonymous"
    />
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="invoice-title">
                <div class="mb-4">
                  <h2 class="mb-1 text-muted">
                    FERRY OCEANAIR SHIPPING SERVICES L.L.C
                  </h2>
                </div>
              {% if messages %}
                  {% for message in messages %}
              
                    <div class="alert alert-success"> 

                    <span class="nav-link-text">{{ message }}</span>
                  
                  </div>
                  {% endfor %}
              {% endif %} 
              </div>
              <hr class="my-4" />
              <div class="row">
                <div class="col-sm-6">
                  <div class="text-muted">
                    <h5 class="font-size-15 mb-3">Billed To:</h5>
                    <a class="display-2 text-white" href="/customer_detail.html?customer_id={{ customer.id }}">
                    <a href="/customer_detail.html?customer_id={{ customer.id }}">
                      <h5 class="font-size-15 mb-2">{{ customer.name }} </h5>
                      <i class="fa fa-address-book"></i>
                    </a> 
                    <p>Phone: {{ customer.phone_number }}</p>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="text-muted text-sm-end">
                    <div>
                      <h5 class="font-size-15 mb-1">Invoice No:</h5>
                      <p>#{{ invoice.id }}</p>
                    </div>
                    <div class="mt-4">
                      <h5 class="font-size-15 mb-1">Invoice Date:</h5>
                      <p>{{ invoice.date }}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="py-2">
                <h5 class="font-size-15">Order Summary</h5>
                <div class="table-responsive">
                  <table
                    class="table align-middle table-nowrap table-centered mb-0"
                  >
                    <thead>
                      <tr>
                        <th>Item</th>
                        <th>Source</th>
                        <th>Quantity</th>
                        <th>Length</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>CBM</th>
                        <th>Rate</th>
                        <th class="text-end" style="width: 120px;">Price (AED)</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for invoice in items %}
                      <tr>
                        <td>
                          <div>
                            <h5 class="text-truncate font-size-14 mb-1">
                              {{ invoice.item }}
                            </h5>
                          </div>
                        </td>
                        <td>{{invoice.source}}</td>
                        <td>{{invoice.quantity}}</td>
                        <td>{{ invoice.length }}</td>
                        <td>{{ invoice.width }}</td>
                        <td>{{ invoice.height }}</td>
                        <td>{{ invoice.CBM }}</td>
                        <td>{{ invoice.rate }}</td>
                        <td class="text-end">{{ invoice.price }}</td>
                      </tr>
                      {% endfor %}

                      <tr>
                        <th scope="row" colspan="8" class="text-end">
                          Total Packages
                        </th>
                        <td class="text-end">{{ totalpack }}</td>
                      </tr>

                      <tr>
                        <th scope="row" colspan="8" class="border-0 text-end">
                          Total CBM
                        </th>
                        <td class="border-0 text-end">
                          {{ totalcbm }}
                        </td>
                      </tr>

                      <tr>
                        <th scope="row" colspan="8" class="border-0 text-end">
                          Grand Total
                        </th>
                        <td class="border-0 text-end">
                          <strong><p class="m-0 fw-semibold">{{totalprice}} AED</p></strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div>
                  يرجى من زبنائنا الكرام من من سيدفع بالأوقية الدفع عن طريق
                  بنكيلي
                  <img
                    src="/static/assets/img/theme/bankili.png"
                    style="display: block;"
                    height="83"
                    width="84"
                  />
                  (+222) 46 61 62 18
                </div>

                <div class="d-print-none mt-4">
                  <div class="float-end">

                    <form action="{% url 'generate_pdf' %}" method="post">
                      {% csrf_token %}
  
                      <input name="invoice_id"
                      type="hidden"
                      class="customer-input"
                      value="{{ invoice.id }}"
                    />
                      <button type="submit" class="btn btn-success me-1"><i class="fa fa-download"></i></button>
                      
                      
                  </form>

                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      data-cfasync="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
  </body>
</html>